<div class ="futurediv">
  <%= link_to root_path do
    image_tag 'future.jpg'
  end %>
  <div class ="container bounceInUp">
    <h2 class="form-signin heading">Sign up</h2>
    <form class="form-signin" role="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <%= f.email_field :email, autofocus: true, class: 'form-control input-lg', placeholder: 'Your email address' %>
    <br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Please create a password' %>
      <% if @validatable %>
        <i class="checkboxwords">(<%= @minimum_password_length %> characters minimum)</i>
      <% end %><br />
        <br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control input-lg', placeholder: 'Please re-type your password' %>
      <br />
      <div><%= f.submit "Sign up", class: 'top-button long-button' %></div>
    </form>

  <% end %>
  </div>
</div>
