<div class="field">
    <h4>From district:</h4><br>
    <%= b.collection_select ["== Hong Kong Island 香港島 ==", hk_regions, "== Kowloon 九龍  ==", kowloon_regions, "== New Territories 新界 ==", nt_regions, "== Lantau Island 大嶼山 ==", lantau_regions, "== Outlying Islands 離島區 ==", out_regions] %>
  </div>
 <div class="field">
    <h4>Going to district:</h4><br>
    <%= b.collection_select ["== Hong Kong Island 香港島 ==", hk_regions, "== Kowloon 九龍  ==", kowloon_regions, "== New Territories 新界 ==", nt_regions, "== Lantau Island 大嶼山 ==", lantau_regions, "== Outlying Islands 離島區 ==", out_regions] %>
  </div>

  <div class="field">
    <%= b.label :mtb %><br>
    <%= b.check_box :mtb %>
    <%= b.select :mtb, [["Yes",true],["No",false]]) %>
  </div>