  <!-- Main jumbotron the different kind of biking  -->
  <div class="middle">
    <div class="container-fluid intro">
      <h3>Hello, world!</h3>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p>&nbsp;</p>
      <h1>t</h1>
      <p>&nbsp;</p>
        <center>
        <%= link_to "Find", new_user_registration_path, class: "inverse-button", role: "button" %>
        <%= link_to "Create", new_bike_route_path, class: "inverse-button", role: "button" %>
        </center>
      </p>
    </div>
  </div>

  <div class="container">
    <center><div id="map"></div></center>
  </div>

  <div class="container-fluid">
    <h1>Top Bike Routes</h1>
    <table class ="table table-striped">
      <tbody class="mytable">
      <tr>
        <th>Top Rides</th> 
        <th>Route Name</th>
        <th>Going from</th>
        <th>Going to</th>
        <th>Difficulty Level</th>
      </tr>
      <div class="hover">
      <tr>
        <% @bikeRoutes.each do |f| %>
        <td><span class="ranking"><%= f.ranking %></span></td>
        <td class="tablestyle"><%= link_to f.name, f %></td>
        <td class="tablestyle"><%= link_to f.from %></td>
        <td class="tablestyle"><%= link_to f.to %></td>
        <td class="tablestyle"><%= link_to f.difficulty %></td>
      </tr>
      </div>

        <% end %>

       </tbody>
    </table>
  </div>
</div>
